h1 {
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  color: aliceblue;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

video {
  position: fixed;
  top: 60%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("Coffee-Place/MP4/Coffee-Place.mp4");
  background-size: cover;
  /*transition: 1s opacity;*/
}

/*#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }*/
.Symbols {
  text-align: center;
  padding-top: 400px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  margin-left: 12.5em;
  transition-duration: 1s;
}

.Symbols-active{
  background-color: #45CEE0;
}
.Symbols:hover{
  background:rgba(0,0,0,0.4);
}

.TrackInfo {
  background: goldenrod;
  padding: 0px 1px;
  border-style: ridge;
  font: 16px sans-serif;
  line-height: 1.5;
  margin: .5em;
  margin-left: 10em;
  margin-right: 10em;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;

}
.TrackInfo:hover{
  transform: rotateY(180deg);
}
#Controls {
  font-size: 1.5em;
  margin-left: 12em;
  margin-right: 12em;
}

i:hover {
  color: #ff4f5a;
}

#previous {
  margin-right: 2em;
}
#pause{
  margin-right: 2em;
}
#play{
  margin-right: 2em;
}
#next{
  margin-right: 2em;
}
@media (min-width: 400px) {
  body {
    background-color: ivory;
  }
}

@media (min-width: 550px) {
  body {
    background-color: ivory;
  }
}

@media (min-width: 750px) {
  body{
    background-color: ivory;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: ivory;
  }
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html {background: url("Coffee-Place/MP4/Coffee-Place.mp4") #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
